@import '../../styles/App.scss';

.NavLinks {
	@extend .Font-Medium;
	font-size: medium !important;
	text-transform: capitalize !important;
}

.UserIcon {
	font-size: 2rem !important;
}

.SettingsMenu {
	width: 15rem !important;
}

.AuthDialogTitle {
	@extend .Font-Family-Light;
	font-size: xx-large !important;
}
